@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes reveal {
  0% {
    background-position: 100% 0;
    color: #fff; 
  }
  50% {
    color: #000; 
  }
  100% {
    background-position: -100% 0;
    color: #fff; 
  }
}

@keyframes oscillate {
  0%, 100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
}



body {
  @apply bg-zinc-900;
}



@layer base {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
